#scr-results,
#scr-no-results,
#sub-count,
#scr-email-customers {
	display: none;
}
#scr-results .card{
	display: table;
	max-width: none;
}
.scr-loading{
	opacity: 0;
}
.scr-loading img{
	float: left;
	margin-right: 5px;
}
.scr-tr{
	display: table-row;
}
.scr-tc{
	display: table-cell;
	padding: 5px 15px;
	max-width: 350px;
}
.single-customer.true{
	background: #FEA3A9;
}
#scr-results .single-customer,
#scr-results .single-customer-header{
	margin: 10px 0;
}
.src-loading img{
	float: left; 
	margin-right: 5px;
}
#scr-email-loader{
	vertical-align: middle;
	display: none;
}
#scr-email-success{
	display: none;
}
#scr-email-success:before{
    color: #79ba49;
    content: '\f147';
    font-family: 'dashicons';
    vertical-align: top;
    font-size: 1.6em;
}